<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add_songs</title>
</head>
<body>
    <!-- flash message section -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-{{ messages[0][1] }}">
            <ul>
                {% for message in messages %}
                    <li style="color: green;">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% endwith %}<hr>
    <h1>ADD-SONGS</h1>
    <hr>

    <h3>Playlist: {{playlist.title}}</h3>
    {% if not songs %}
        <h5 style="color: red;">No songs! Add from the suggestions below!!</h5>
    {% endif %}

    {% for song in songs %}
        <ul>
            <li>
                <a style="color: #048ae9; text-decoration: none;" href="{{ url_for('song.play_song', id=song.id) }}">{{ song.title }} by: {{ song.artist }}</a>

                <form action="{{ url_for('playlist.remove_songs', id=playlist.id) }}" method="POST" style="display: inline">
                    <input type="hidden" name="song_id" value="{{ song.id }}">
                    <button style="border-color: rgb(255, 162, 95);" type="submit">Delete</button>
                </form>
            </li>
        </ul>
    {% endfor %}
    <hr>

    <!-- suggested songs to add to the playlist -->
    <h3>Suggested Songs</h3>
    {% for song in suggested_songs %}
        <ul>
            <li>
                <a style="color: #bd4f05; text-decoration: none;" href="{{ url_for('song.play_song', id=song.id) }}">{{ song.title }} by: {{ song.artist }}</a>

                <form action="{{ url_for('playlist.add_songs', id=playlist.id) }}" method="POST" style="display: inline">
                    <input type="hidden" name="song_id" value="{{ song.id }}">
                    <button style="border-color: rgb(255, 162, 95);" type="submit">Add</button>
                </form>
            </li>
        </ul>
    {% endfor %}
    <hr><br>

    <a href="{{ url_for('user.dashboard') }}">dashboard</a>
</body>
</html>