{% extends 'layout.html' %}
{% block content %}
    
    <p id="heading">PLAYLIST: {{ playlist.title }}</p>
    {% if not songs %}
        <h1 id="heading" style="color: red;">No songs! You can add from the suggestions below!!</h1>
    {% else %}
        <table class="data-table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for song in songs %}
                    <tr class="data-row">
                        <td><a class="song-link" href="{{ url_for('song.play_song', id=song.id) }}">{{ song.title }}</a></td>
                        <td>{{ song.artist }}</td>
                        <td>
                            <form action="{{ url_for('playlist.playlist_remove_songs', id=playlist.id) }}" method="POST">
                                <input type="hidden" name="song_id" value="{{ song.id }}">
                                <button id="delete-btn" type="submit">Delete <i class="fas fa-trash-alt"></i></button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <p id="heading">SUGGESTED-SONGS</p>
    {% if suggested_songs %}
        <table class="data-table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for song in suggested_songs %}
                    <tr class="data-row">
                        <td><a class="song-link" href="{{ url_for('song.play_song', id=song.id) }}">{{ song.title }}</a></td>
                        <td>{{ song.artist }}</td>
                        <td>
                            <form action="{{ url_for('playlist.add_songs_to_playlist', id=playlist.id) }}" method="POST">
                                <input type="hidden" name="song_id" value="{{ song.id }}">
                                <button style="background-color: green; border-color: darkgreen" id="delete-btn" type="submit">Add <i class="fas fa-plus"></i></button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h5 style="color: red;">No suggested songs available!</h5>
    {% endif %}
{% endblock %}