{% extends 'layout.html' %}
{% block content %}
    
    <!-- album songs -->
    <p id="heading">ALBUM: {{ album.title }}</p>

    {% if not songs %}
        <h5 style="color: red;">No songs! You can add from the suggestions below!!</h5>
    {% else %}
        <table class="content-table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for song in songs %}
                    <tr>
                        <td><a class="song-link" href="{{ url_for('song.play_song', id=song.id) }}">{{ song.title }}</a></td>
                        <td>{{ song.artist }}</td>
                        <td>
                            <form action="{{ url_for('album.album_remove_songs', id=album.id) }}" method="POST">
                                <input type="hidden" name="song_id" value="{{ song.id }}">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <!-- suggested songs -->
    <p id="heading">SUGGESTED-SONGS</p>

    {% if suggested_songs %}
        <table class="content-table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for song in suggested_songs %}
                    <tr>
                        <td><a class="song-link" href="{{ url_for('song.play_song', id=song.id) }}">{{ song.title }}</a></td>
                        <td>{{ song.artist }}</td>
                        <td>
                            <form action="{{ url_for('album.add_songs_to_album', id=album.id) }}" method="POST">
                                <input type="hidden" name="song_id" value="{{ song.id }}">
                                <button id="add-btn" type="submit">Add</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h5 style="color: red;">No suggested songs available!</h5>
    {% endif %}
{% endblock %}