{% extends 'layout.html' %}

{%block search_results%}
<p id="heading">SEARCH-RESULT</p>
{% if songs %}
    <table class="data-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            {% for song in songs %}
                <tr class="data-row">
                    <td>{{ song.title }}</td>
                    <td>{{ song.artist }}</td>
                    <td>{{ song.genre }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h5 id="heading" style="color: red;">No searched songs available!</h5>
{% endif %}
{%endblock%}

{% block admin_stats %}
    <br>
    <h1 id="heading">STATS GLANCE</h1>
    <br><br><br>
    <div class="grid-container">
        {% for stat in stats_data %}
            <div class="stat-container" style="animation: none;">
                <div class="stat_heading">
                    <h1>{{ stat['heading'] }}</h1>
                </div>
                <div class="stat_data">
                    <h1>{{ stat['total'] }}</h1>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

