{% extends 'layout.html' %}
{% block admin_visuals %}
    <table class="data-table">
        <h1 id="heading">ALBUMS</h1>
        <thead>
            <tr>
                <th>Title</th>
                <th>Release-year</th>
                
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for album in albums %}
            <tr class="data-row">
                <td>{{ album.title }}</td>
                <td>{{ album.release_year }}</td>
               
                <td><a href="#"><i class="fas fa-trash-alt"> Delete</i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block admin_stats %}
    <br>
    <h1 id="heading">STATS GLANCE</h1>
    <br><br><br>
    <div class="grid-container">
        {% for stat in stats_data %}
            <div class="stat-container" style="animation: none;">
                <div class="stat_heading">
                    <h1>{{ stat['heading'] }}</h1>
                </div>
                <div class="stat_data">
                    <h1>{{ stat['total'] }}</h1>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}