<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Playlist</title>
</head>
<body>
    <h1>PLAYLIST</h1>

    <!-- flash message section -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="container">
            <ul>
                {% for category, message in messages %}
                    <div class="alert-{{ category }}">
                        <li>{{ message }}</li>
                    </div>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% endwith %}<hr>

    <h3>CREATE-PLAYLIST</h3>

    <form class="container" method="POST" action="{{ url_for('playlist.create_playlist') }}">

        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" placeholder="Title">
        </div><br>

        <input type="submit" value="Create" class="btn btn-primary">
    </form>

    <hr>
    <a href="{{ url_for('song.upload_song') }}">upload-song</a>
    <br>
    <a href="{{ url_for('user.dashboard') }}">dashboard</a>

</body>
</html>
