{% extends 'layout.html' %}
{% block admin_visuals %}
    <table class="data-table">
        <h1 id="heading">CREATORS</h1>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for creator in creators %}
            <tr class="data-row">
                <td>{{ creator.username }}</td>
                <td>{{ creator.email }}</td>
                <td>
                    {% if is_flagged[loop.index0] %}
                    
                        {% set action_url = url_for('user.unflag_creator', creator_id=creator.id) %}
                        <button id="register_button" onclick="showConfirmation('{{ action_url }}')" style="background-color:#149310; border-color:darkgreen"><i class="fas fa-check"></i> Whitelist</button>

                    {% else %}

                        {% set action_url = url_for('user.flag_creator', creator_id=creator.id, admin_id=current_user.id) %}
                        <button onclick="showConfirmation('{{ action_url }}')" style="background-color: orangered;margin-right: 10px" id="delete-btn">
                            <i class="fas fa-ban"></i> Blacklist
                        </button>
                    {% endif %} 
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block admin_stats %}
    <br>
    <h1 id="heading">STATS GLANCE</h1>
    <br><br><br>
    <div class="grid-container">
        {% for stat in stats_data %}
            <div class="stat-container" style="animation: none;">
                <div class="stat_heading">
                    <h1>{{ stat['heading'] }}</h1>
                </div>
                <div class="stat_data">
                    <h1>{{ stat['total'] }}</h1>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}