{% extends 'layout.html' %}

{% block body %}
    <!------------------------player ------------------------------->
    <div class="audio_player">
        <div class="song_info">
            <h2>----:-----</h2>
        </div>

        <div class ="player">
            <audio controls autoplay>
                <source src="#" type="audio/mpeg">
            </audio>
        </div>
        
        <div class="add_to_playlist">
            <a href="#">Playlist+</a>
        </div>
    </div>
    {% endblock %}

</body>
</html>
