{% extends 'layout.html' %}
{% block post_login_form %}
    <h1 id="heading">FLAG-SONG</h1>
    <form class="upload-form" method="POST" action="{{ url_for('song.flag_song', song_id=song_to_flag.id) }}">
        <h1 id ="heading" style="color: orangered;">{{ song_to_flag.title }}: {{ song_to_flag.artist }}</h1>
        <div class="form-group">
            <label for="reason">Reason</label>
            {% if not is_flagged %}
                <input type="text" id="reason" name="reason" placeholder="Reason" class="form-control">
            {% else %}
                <input type="text" id="reason" name="reason" placeholder="The song is already flagged!!" class="form-control">
            {% endif %}
            

            <!--song_id and admin_id -->
            <input type="hidden" id="song_id" name="song_id" value="{{ song_to_flag.id }}">
            <input type="hidden" id="admin_id" name="admin_id" value="{{ current_user.id }}">
        
        </div>
        {% if not is_flagged %}
           <input type="submit" value="Flag" class="btn btn-primary"> 
        {% endif %}
        
    </form>
{% endblock %}

{% block admin_stats %}
    {% if current_user.role == 'admin' %}
        <br>
    <h1 id="heading">STATS GLANCE</h1>
    <br><br><br>
    <div class="grid-container">
        {% for stat in stats_data %}
            <div class="stat-container"  style="animation: none;">
                <div class="stat_heading">
                    <h1>{{ stat['heading'] }}</h1>
                </div>
                <div class="stat_data">
                    <h1>{{ stat['total'] }}</h1>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}

{% block content %}
    <table class="data-table" style="animation: none;">
        <h1 id="heading">TRACKS</h1>
        <thead>
            <tr>
                <th>Song</th>
                <th>
                    Genre
                    <div class="dropdown">
                        <button class="dropbtn">Select Genre <i class="fa fa-caret-down"></i></button>
                        <div class="dropdown-content">
                            <a href="{{ url_for('song.all_songs', genre='all') }}">All Genres</a>
                            <a href="{{ url_for('song.all_songs', genre='romantic') }}">Romantic</a>
                            <a href="{{ url_for('song.all_songs', genre='pop') }}">Pop</a>
                            <a href="{{ url_for('song.all_songs', genre='rock') }}">Rock</a>
                            <a href="{{ url_for('song.all_songs', genre='hip-hop') }}">Hip-Hop</a>
                        </div>
                    </div>
                </th>
                <th>Lyrics</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for song in songs %}
                <tr class="data-row">
                    <td>{{ song.title }}: {{ song.artist }}</td>
                    <td>{{ song.genre }}</td>
                    <td><a href="{{ url_for('song.song_lyrics', id=song.id) }}"><i class="fas fa-eye"></i> View</a></td>
                    <td>

                        {% set action_url = url_for('song.delete_song', id=song.id) %}
                        <button id="delete-btn" onclick="showConfirmation('{{ action_url }}')"><i class="fas fa-trash-alt"></i> Delete</button>

                       
                        <a href="{{ url_for('song.flag_song', song_id=song.id) }}" style="background-color: orangered;" id="delete-btn"><i class="fas fa-flag"></i> Flag</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
