<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="logo">
        <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="logo">
        <h1>MUZIKA</h1>
        <hr>
        <h1 id="heading">Welcome to the New Music Era</h1>
    </div>

    <div class="full-container">

        <div class="home-container">
            <ul class="button-list">
                <li><a href="/user_login">User Login</a></li>
                <li><a href="/admin_login">Admin Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
