{% extends 'layout.html' %}
{% block pre_login_form %}<br>
<h1 id="heading">USER REGISTRATION</h1><br><br><br><br><br>
<form class="upload-form" action="{{ url_for('auth.register') }}" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.username.label }} {{ form.username(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.email.label }} {{ form.email(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.password.label }} {{ form.password(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}<br><br>
    </div><br>
    <a href="{{ url_for('auth.user_login') }}">Already have an account?</a>
</form>
{% endblock %}

{% block branding %}
    <div class="logo">
        <h1 id="heading" style="color: rgb(220, 94, 40); font-size: 149px;">
            <span id="brand_name">
                <span class="beat">B</span>
                <span class="beat">E</span>
                <span class="beat">A</span>
                <span class="beat">T</span>
                <span class="beat">T</span>
            </span>
            <img id="beetle" src="static/images/beetle_1.svg" alt="beetle">
        </h1>
        <img src="static/images/background.svg" alt="logo">
    </div>
{% endblock %}