<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <!----------------------------------------------- navbar ----------------------------------------------------------->
    {% block navbar %}
        <nav>
            <div class="navbar">
                <div class="left">
                    {% if current_user.is_authenticated %}
                    <a id="home" href="{{ url_for('user.dashboard') }}"><img id="logo" src="{{ url_for('static', filename='images/beetle_1.svg') }}" style="height: 50px; width: 50px"></a>
                    {% endif %}

                    {% if not current_user.is_authenticated %}
                    <a id="home" href="{{ url_for('index.home') }}"><img id="logo" src="{{ url_for('static', filename='images/beetle_1.svg') }}" style="height: 50px; width: 50px"></a>
                    <a id="login" href="{{ url_for('auth.user_login') }}"><i class="fas fa-sign-in-alt"></i> User_Login</a>
                    {% endif %}

                    {% if current_user.role == 'creator' %}
                    <a id="stats" href="{{url_for('user.creator_stats')}}"><i class="fas fa-chart-line"></i> Stats</a>
                    {% endif %}
                    {% if current_user.role == 'admin' %}
                    <a id="stats" href="{{url_for('admin.admin_visuals')}}"><i class="fas fa-chart-line"></i> Stats</a>

                    {% endif %}
                </div>
                <div class="middle">
                    {% if current_user.role == 'admin' %}
                        <form action="{{ url_for('admin.admin_search') }}" method="GET" class="search-form">
                            <div class="search-container">
                                <input id="search" type="text" name="query" placeholder="Search your favorite song">
                                <button type="submit" id="search-button"><i class="fas fa-search"></i></button>
                            </div>
                        </form>
                    {% endif %}
                    {% if current_user.role == 'user' or current_user.role == 'creator' %}
                        <form action="{{ url_for('song.song_search') }}" method="GET" class="search-form">
                            <div class="search-container">
                                <input id="search" type="text" name="query" placeholder="Search your favorite song">
                                <button type="submit" id="search-button"><i class="fas fa-search"></i></button>
                            </div>
                        </form>
                    {% endif %}
                    
                </div>                
                <div class="right">
                    {% if current_user.role == 'admin' %}
                    <a id="Tracks" href="{{url_for('song.all_songs', genre='all')}}"><i class="fas fa-music"></i> Tracks</a>
                    <a id="Albums" href="{{url_for('album.all_albums')}}"><i class="fas fa-compact-disc"></i> Albums</a>
                    {% endif %}
                    <a id="user_name" href="#">{{current_user.email}}</a>
                    {% if current_user.role == 'creator' %}
                    <a id="uploaded_songs" href="{{ url_for('song.uploaded_songs') }}"><i class="fas fa-music"></i> Uploaded-songs</a>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                        <a id="profile" href="#"><i class="fas fa-user"></i> Profile</a>
                        <a id="logout" href="{{url_for('user.logout')}}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    {% endif %}

                    {% if not current_user.is_authenticated %}
                    <a id="signup" href="{{ url_for('auth.register') }}"><i class="fas fa-user-plus"></i> Signup</a>
                    <a id="login" href="{{ url_for('auth.admin_login') }}"><i class="fas fa-sign-in-alt"></i> Admin_Login</a>
                    {% endif %}
                    
                </div>
            </div>
        </nav>
    {% endblock %}

    <!-----------------------------------------------dialog box ---------------------------------------------->
    {% block dialog_box %}
        <div id="confirmation-dialog" class="confirmation-dialog">
            <div class="confirmation-content">
                <p>Are you sure? want to perform this action?</p>
                <button class="confirm-btn" onclick="window.location.href = '{{ action_url }}';">Confirm</button>
                <button class="cancel-btn" onclick="hideConfirmation();">Cancel</button>
            </div>
        </div>
    {% endblock %}
   
    <!---------------------------------------------------------contents ----------------------------------------------------------------->
    <div class="content">
        <!------------------------------------ left col of the content --------------------------------------->
        <div class="column left-column">

            <!-- registration card -->
            {% block creator_register_card %}
                <div class="registration_card">
                    {% if current_user.role == 'user' %}
                        <div class="container">
                            <div class="info"id="info1">
                                Register as Creator 
                            </div>
                            <div class="info" id="info2">
                                Create new songs, albums and much more... 
                            </div>
                            <img id="headphone" src="{{ url_for('static', filename='images/headphone.svg') }}" alt="headphone">

                            {% set action_url = url_for('user.creator_register') %}
                            <a id="register_button" href="#" onclick="showConfirmation('{{ action_url }}')">Register</a>
                        </div>
                    {% endif %} 
                </div>
            {% endblock %}

            <!-- functionality cards -->
            {% block functionality_card %}
                <ul class="link-list">
                    <!-- common -->
                    {% if current_user.role == 'user' or current_user.role == 'creator' %}
                        <li class="card common-card">
                            <a class="common-link" href="{{ url_for('playlist.create_playlist') }}">Create Playlist</a>
                        </li>
                    {% endif %}
                    <!--creator -->
                    {% if current_user.role == 'creator' %}
                        <li class="card creator-card">
                            <a class="creator-link" href="/upload_song">Upload Song</a>
                        </li>
                        <li class="card creator-card">
                            <a class="creator-link" href="{{url_for('album.create_album')}}">Create Album</a>
                        </li>
                    {% endif %}
                </ul>
            {% endblock %}

            <!-- content section -->
            {% block left_content %}
            {% endblock %}
            
            <!-- form section -->
            {% block post_login_form %}
            {% endblock %}

            {% block pre_login_form %}
            {% endblock %}
            
            <!-- statistics section -->
            {% block creator_stats %}
            {% endblock %}

            {% block admin_stats %}
            {% endblock %}

        </div>

        <!------------------------------------ right col of the content --------------------------------------->
        <div class="column right-column">
            <!-- flash message section -->
            {% block flash %}
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="flash-container">
                            {% for category, message in messages %}
                                <div class="alert-{{ category }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}<br>
            {% endblock %}

    
            <!-- content section -->
            {%block search_results %}
            {% endblock %}

            {% block content %}
            {% endblock %}

            {% block admin_visuals %}
            {% endblock %}

            <!-- branding section-->
            {% block branding %}
            {% endblock %}

            <!---suggested_songs -->
            {% block suggested_song %}
                {% if current_user.role == 'user' or current_user.role == 'creator' %}
                    <div class="cards">
                        <p id="heading">SONGS-4-U</p>
                        <div class="card-container" id="song_card">
                            {% for suggested_song in suggested_songs %}
                                <div class="card">
                                    <img id="card_img" src="{{ url_for('static', filename='images/music_node_2.svg') }}" alt="song_image">
                                    <a id="card_title" href="{{ url_for('song.play_song', id=suggested_song.id) }}"><b>{{ suggested_song.title }}: {{suggested_song.artist }}</b></a>
                                    <a id="card_title" href="{{ url_for('song.song_lyrics', id=suggested_song.id) }}"><b><i class="fas fa-file-alt"> Lyrics</i></b></a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endblock %}
    
            <!-- playlist -->
            {% block playlist %}
                {% if current_user.role == 'user' or current_user.role == 'creator' %}  
                    <div class="cards">
                        <p id="heading">MY-PLAYLIST</p>
                        <div class="card-container">
                            {% if not playlists %}
                                <ul class="link-list">
                                    {% if current_user.role == 'user' or current_user.role == 'creator' %}
                                        <li class="card common-card">
                                            <a class="common-link" href="{{ url_for('playlist.create_playlist') }}">Create Playlist</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            {% else %}
                                {% for playlist in playlists %}
                                    <div class="card">
                                        <img id="card_img" src="{{ url_for('static', filename='images/music_node_2.svg') }}" alt="image">                            
                                        <a id="card_title" href="{{ url_for('playlist.add_songs_to_playlist', id=playlist.id) }}"><b>{{ playlist.title }}</b></a>

                                        {% set action_url = url_for('playlist.remove_playlist', id=playlist.id) %}
                                        <button id="delete-btn" onclick="showConfirmation('{{ action_url }}')">Delete <i class="fas fa-trash-alt"></i></button>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endblock %}
        
            <!-- album -->
            {% block album %}
                {% if current_user.role == 'creator' %}
                    <div class="cards">
                        <p id="heading">MY-ALBUMS</p>
                        <div class="card-container">
                            {% if not albums %}
                                <ul class="link-list">
                                    {% if current_user.role == 'creator' %}
                                        <li class="card creator-card">
                                            <a class="creator-link" href="{{url_for('album.create_album')}}">Create Album</a>
                                        </li>
                                    {% endif %}
                                </ul>   
                            {% else %}
                                {% for album in albums %}
                                    <div class="card">                               
                                        <img id="card_img" src="{{ url_for('static', filename='images/music_node_2.svg') }}" alt="image">
                                        <a id="card_title" href="{{ url_for('album.add_songs_to_album', id=album.id) }}"><b>{{ album.title }}</b></a>

                                        {% set action_url = url_for('album.remove_album', id=album.id) %}
                                        <button id="delete-btn" onclick="showConfirmation('{{ action_url }}')">Delete <i class="fas fa-trash-alt"></i></button>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endblock %}
    
            <!-------------------------------------------------------- footer -------------------------------------------------------------------------------->
            {% block footer %}
                <footer class="site-footer">
                    <div class="footer-content">
                        <div class="contact-info">
                            <h4>Contact Us</h4>
                            <p>Email: info@mymusicapp.com</p>
                            <p>Phone: +1-555-123-4567</p>
                            <p>Address: 123 Music Street, City, Country</p>
                        </div>

                        <div class="social-media">
                            <h4>Follow Us</h4>
                            <ul class="social-links">
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
            
                        <div class="about">
                            <h4>About Us</h4>
                            <p>OurMusicApp is dedicated to providing the best music experience...</p>
                        </div>
                    </div>
            
                    <div class="site-info">
                        <p>&copy; 2023 OurMusicApp. All rights reserved.</p>
                        <p>Developed by: <a href="https://github.com/alauddinansari">Alauddin Ansari <i style="color: red" class="fas fa-heart"></i></a></p>
                    </div>
                </footer>
            {% endblock %}
        </div>
    </div>

    <!--------------------------------------------------------virtual_player----------------------------------------------------------------------->
    {% block player %}
        <div class="audio_player">
            <div class="song_info">
                <h2>----:-----</h2>
            </div>

            <div class ="player">
                <audio controls autoplay>
                    <source src="#" type="audio/mpeg">
                </audio>
            </div>
        
            <div class="song_info">
                <h2>----:-----</h2>
            </div>
        </div>
    {% endblock %}
</body>
</html>