<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <!----------------------------------------------- navbar ----------------------------------------------------------->
    <nav>
        <div class="navbar">
            <div class="left">
                <a id="home" href="{{ url_for('user.dashboard') }}">home</a>
            </div>
            <div class="middle">
                <input id="search" type="text" placeholder="search">
            </div>
            <div class="right">
                <a id="user_name" href="#">{{current_user.email}}</a>
                {% if current_user.role == 'creator' %}
                <a id="uploaded_songs" href="{{ url_for('song.uploaded_songs') }}">uploaded-songs</a>
                {% endif %}
                <a id="profile" href="#">profile</a>
                <a id="logout" href="{{url_for('user.logout')}}">logout</a>
            </div>
        </div>
    </nav>
    
   
   <!-- ------------------------------------------------------contents ----------------------------------------------------------------->
   <div class="content">
    <div class="column left-column">

        

        <ul class="link-list">
            <!-- Common Links -->
            <li class="card common-card">
                <a class="common-link" href="{{ url_for('playlist.create_playlist') }}">Create Playlist</a>
            </li>
        
            <!-- Creator Links -->
            {% if current_user.role == 'creator' %}
                <li class="card creator-card">
                    <a class="creator-link" href="/upload_song">Upload Song</a>
                </li>
                <li class="card creator-card">
                    <a class="creator-link" href="{{url_for('album.create_album')}}">Create Album</a>
                </li>
            {% endif %}
        </ul><hr>

      
        
        
        

        <!-- registration_card -->
        <div class="registration_card">
            {% if current_user.role == 'user' %}
            <div class="container">
                <div class="info"id="info1">
                    Register as Creator 
                </div>
                <div class="info" id="info2">
                    Create new songs, albums and much more... 
                </div>
                <img id="headphone" src="{{ url_for('static', filename='images/headphone.svg') }}" alt="headphone">
                <a id="register_button" href="{{ url_for('user.creator_register')}}">Register</a>
            </div>
            {% endif %}

            {% block form %}
            {% endblock %}
            
        </div>
    </div>

    <div class="column right-column">

    <!-- flash message section -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-container">
            <ul>
                {% for category, message in messages %}
                    <div class="alert-{{ category }}">
                        <li>{{ message }}</li>
                    </div>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% endwith %}<br>

    {% block body %}
        {% endblock %}

    <!---admin------->
    {% if current_user.role == 'admin' %}
    <ul>
        <li>
            <h1>
                STATISTICS
            </h1>
        </li>
    </ul>
    {% endif %}

    <!-- user and creator common in both -->
    <!---suggested_songs -->
    {% if current_user.role == 'user' or current_user.role == 'creator' %}
        <div class="cards">
            <p id="heading">SONGS-4-U</p>
            <div class="card-container" id="song_card">
                {% for suggested_song in suggested_songs %}
                    <div class="card">
                        
                        <img id="card_img" src="{{ url_for('static', filename='images/music_node_2.svg') }}" alt="song_image">

                        <a id="card_title" href="{{ url_for('song.play_song', id=suggested_song.id) }}"><b>{{ suggested_song.title }}: {{suggested_song.artist }}</b></a>

                        <a id="card_title" href="#"><b>lyrics</b></a>

                        

                    </div>
                
                {% endfor %}
            </div>
        </div>
        
        
        
        
        <!-- -----------playlist--------------- -->
        
        <div class="cards">
            <p id="heading">MY-PLAYLIST</p>
            <div class="card-container">
                {% for playlist in playlists %}
                <div class="card">

                    <img id="card_img" src="{{ url_for('static', filename='images/music_node_2.svg') }}" alt="image">
                    
                    <a id="card_title" href="{{ url_for('playlist.add_songs_to_playlist', id=playlist.id) }}"><b>{{ playlist.title }}</b></a>
                    
                    <a id="delete_card" href="{{ url_for('playlist.remove_playlist', id=playlist.id) }}"><i class="fas fa-trash-alt"></i></a>
                </div>
                {% endfor %}
            </div>
        </div>
        
    {% endif %}
    <!-------------user----------------------->
    
    
        



    <!-----creator--------->
    <!-- album -->

    {% if current_user.role == 'creator' %}
    
    <div class="cards">
        <p id="heading">MY-ALBUMS</p>
        <div class="card-container">
            {% for album in albums %}
            <div class="card">
                
                <img id="card_img" src="{{ url_for('static', filename='images/music_node_2.svg') }}" alt="image">

                <a id="card_title" href="{{ url_for('album.add_songs_to_album', id=album.id) }}"><b>{{ album.title }}</b></a>
                
                <a id="delete_card" href="{{ url_for('album.remove_album', id=album.id) }}"><i class="fas fa-trash-alt"></i></a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}


    </div>
  </div>

     

    <!-------------------------------------------- footer ---------------------------------------------------------->
    <footer style="background-color: rgb(74, 70, 70);">
        <div class="footer">
            <p>Copyright &copy; 2022. All rights reserved.</p>
            <p>Developed by: <a href="https://github.com/alauddinansari">Alauddin Ansari</a></p>
        </div>
    </footer>


</body>
</html>