{% extends 'layout.html' %}
{% block content %}
    {%block player%}
    {% endblock %}
    <div class="audio_player">
        <div class="song_info">
            <h2>{{ song.title }}</h2>
        </div>

        {% set song_path = 'songs/' + song_file.file_name %}
        <div class ="player">
            <audio controls autoplay>
                <source src="{{ url_for('static', filename=song_path)}}" type="audio/mpeg">
            </audio>
        </div>

        <div class="add_to_playlist">
            <a href="#">Rating</a>
        </div>
    </div>
{% endblock %}