<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    <h1>REGISTER</h1>
    <a href="{{ url_for('index.home')}}">home</a>
    <hr><hr>


    <!-- flash message section -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-{{ messages[0][1] }}">
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div><hr>
    {% endif %}
    {% endwith %}


    <form action="{{url_for('auth.register')}} " method="POST">
        {{form.hidden_tag()}}
        {{form.username}}
        {{form.email}}
        {{form.password}}
        {{form.submit}}<br><br>

        <a href="{{ url_for('auth.user_login')}}">alredy have an account?</a>
    </form>
    
    

</body>
</html>