<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>songs-list</title>
</head>
<body>
    <div>
       <h1>SONGS-LIST</h1>
    <hr><hr>
    </div>

    {% for song in songs %}
        <ul>
            <li>
                <h3>
                    <a href="{{ url_for('song.play_song', id=song.id) }}">{{ song.title }} by: {{ song.artist }}
                    </a><hr>
                </h3>
            </li>
        </ul>
    {% endfor %}

    <a href="{{ url_for('user.dashboard') }}">dashboard</a>
</body>
</html>