{% extends 'layout.html' %}

{% block functionality_card %}
{% endblock %}
{% block admin_stats %}
{% endblock %}


{% block left_content %}
    <div class="lyrics-container">
        <div class="lyrics dark-theme">
            <h1 id="heading">{{ song.title }}</h1>
            <p>{{ song.lyrics }}</p>
        </div>
    </div>
{% endblock %}

{% block admin_visuals %}
{% if current_user.role == 'admin' %}
        <table class="data-table" style="animation: none;">
        <h1 id="heading">TRACKS</h1>
        <thead>
            <tr>
                <th>Song</th>
                <th>
                    Genre
                    <select id="genre-filter">
                        <option value="">All Genres</option>
                        <option value="romantic">Romantic</option>
                        <option value="pop">Pop</option>
                        <option value="rock">Rock</option>
                        <option value="hip-hop">Hip-Hop</option>
                    </select>
                </th>
                <th>Lyrics</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for song in songs %}
                <tr class="data-row">
                    <td>{{ song.title }}: {{ song.artist }}</td>
                    <td>{{ song.genre }}</td>
                    <td><a href="{{ url_for('song.song_lyrics', id=song.id) }}"><i class="fas fa-eye"></i> View</a></td>
                    <td>
                        <a href="#"><i class="fas fa-trash-alt"></i> Delete |</a>
                        <a href="#"><i class="fas fa-flag"></i> Flag</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock %}
