{% extends 'layout.html' %}

{% block functionality_card %}
{% endblock %}
{% block admin_stats %}
{% endblock %}


{% block left_content %}
    <div class="lyrics-container">
        <div class="lyrics dark-theme">
            <h1 id="heading">{{ song.title }}</h1>
            <p>{{ song.lyrics }}</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if current_user.role == 'admin' %}
        <table class="data-table" style="animation: none;">
            <h1 id="heading">TRACKS</h1>
            <thead>
                <tr>
                    <th>Song</th>
                    <th>
                        Genre
                        <div class="dropdown">
                            <button class="dropbtn">Select Genre <i class="fa fa-caret-down"></i></button>
                            <div class="dropdown-content">
                                <a href="{{ url_for('song.all_songs', genre='all') }}">All Genres</a>
                                <a href="{{ url_for('song.all_songs', genre='romantic') }}">Romantic</a>
                                <a href="{{ url_for('song.all_songs', genre='pop') }}">Pop</a>
                                <a href="{{ url_for('song.all_songs', genre='rock') }}">Rock</a>
                                <a href="{{ url_for('song.all_songs', genre='hip-hop') }}">Hip-Hop</a>
                            </div>
                        </div>
                    </th>
                    <th>Lyrics</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for song in songs %}
                    <tr class="data-row">
                        <td>{{ song.title }}: {{ song.artist }}</td>
                        <td>{{ song.genre }}</td>
                        <td><a href="{{ url_for('song.song_lyrics', id=song.id) }}"><i class="fas fa-eye"></i> View</a></td>
                        <td>
                            {% set action_url = url_for('song.delete_song', id=song.id) %}
                            <button id="delete-btn" onclick="showConfirmation('{{ action_url }}')"><i class="fas fa-trash-alt"></i> Delete</button>

                            <a href="{{ url_for('song.flag_song', song_id=song.id) }}" style="background-color: orangered;" id="delete-btn"><i class="fas fa-flag"></i> Flag </a> 
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

