{% extends 'layout.html' %}

{% block post_login_form %}
    
    <form class="upload-form" action="{{ url_for('song.upload_song') }}" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.title.label }} {{ form.title(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.artist.label }} {{ form.artist(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.genre.label }} {{ form.genre(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.lyrics.label }} {{ form.lyrics(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.audio_file.label }} {{ form.audio_file(class="form-control-file") }}
        </div>
        <div class="form-group" >
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>

    {% endblock %}


</body>
</html>